<!doctype html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/resources/css/screen.css">
    <title>{{ 'page_title_404'|trans }} | {{ 'website_title'|trans }}</title>
</head>
<body class="page-error">
    <div class="layout">
        <h1 class="page-title">{{ 'page_title_404'|trans }}</h1>
        <p>{{ 'page_404_para_1'|trans|raw }}</p>
    </div>
</body>
</html>