<!doctype html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/resources/css/screen.css">
    <title>{{ 'page_title_500'|trans }} | {{ 'website_title'|trans }}</title>
</head>
<body class="page-error">
<div class="layout">
    <h1 class="page-title">{{ 'page_title_500'|trans }}</h1>
    {{ 'page_500_text'|trans|raw }}
</div>
</body>
</html>